.Tasks-main {
    width: 100%;
}
.Task-div {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}
.Tasks-title {
    display: flex;
    justify-content: flex-start;
}
.Task-id {
    padding-right: 15px;
}
.Tasks-btn {
    margin-top: 10px;
    padding: 5px 5px;
    width: 100%;
    font-size: 24px;
    color: #FFFFFF;
    background-color: #35485E;
    border: none;
    font-family: 'Roboto', sans-serif;
}
.Tasks-btn:hover{
    cursor: pointer;
    background: #e74c3c;
}
.Task-desc {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.73);
    padding: 10px 0;
    white-space: pre-wrap;
}
.Task-open {
    padding: 15px 30px;
    border-right: 6px solid #35485E;
    border-left: 6px solid #35485E;
    border-bottom: 4px solid #35485E;
    font-family: 'Exo 2', sans-serif;
}
.Task-input-div {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.Task-input {
    width: 45%;
    height: 40px;
    background-color: #2b3644;
    padding: 0 15px;
    font-size: 18px;
    color: #FFFFFF;
}
.Task-input-text{
    width: 100%;
    padding: 5px 15px;
    font-size: 16px;
    background-color: #2b3644;
    color: #FFFFFF;
    resize:none;
}
.Task-input-text::-webkit-scrollbar {
    display: none;
}
.Tasks-btn-answer{
    margin-top: 10px;
    margin-right: 20px;
    padding: 5px;
    width: 100%;
    font-size: 24px;
    color: #FFFFFF;
    background-color: #35485E;
    border: none;
}
.Tasks-btn-answer:hover{
    cursor: pointer;
    background: #3ce745;
}

.Tasks-btn-req{
    padding: 5px;
    width: 100%;
    font-size: 24px;
    color: #FFFFFF;
    background-color: #35485E;
    border: none;
}
.Tasks-btn-req:hover{
    cursor: pointer;
    background: #3ce745;
}

.Task-answer-name {
    color: #0c8806;
    font-size: 20px;
    margin-top: 15px;
    padding: 7px 20px;
    border: 3px solid #243a4d;
}

.Task-answer {
    font-size: 18px;
    color: #d5d5d5;
    margin-top: 15px;
    padding: 7px 20px;
    border: 3px solid #243a4d;
    white-space: pre-wrap;
    word-spacing: 5px;
}
.task_tmp_req{
    display:grid;
    border: 6px solid #35485E;
    padding: 10px 15px;
}

.task-request-text {
    margin: 10px 0;
    padding: 5px 15px;
    font-size: 16px;
    background-color: #2b3644;
    color: #FFFFFF;
    resize:none;
}
.task-request-text::-webkit-scrollbar {
    display: none;
}

.task-req-text {
    padding-top: 15px;
    color: #b4b4b4;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.task_tmp_req_two{
    margin-top: 10px;
    text-align: center;
}

.task-t-teq{
    padding: 10px;
    color: #d5d5d5;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
}

.task-t-t-teq{
    padding: 10px;
    color: #f3f3f3;
    font-family: 'Exo 2', sans-serif;
}